@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Roboto:wght@300;400;500;700&display=swap');

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;  
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px; 
}

header {
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    text-decoration: none;
    color: #3e6cf4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a {
    color: #3e6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
    transition: color 0.3s ease; 
}

.navigation a:hover {
    color: black;
}

section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/Untitled-2.jpg) no-repeat center; 
    background-size: cover;
}

.main h2 {
    color: #f0f0f0;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span {
    display: inline-table;
    margin-top: 10px;
    color: #3e6cf4;
    font-size: 3em;
    font-weight: 600;
}

.main h3 {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main_button {
    color: #fff;
    background-color: #3e6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.main_button:hover {
    background-color: #2e5cbf; 
    transform: scale(1.05);
}

.social-icons a {
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
}

.title {
    
    text-align: center;
    top: 100px;
    align-items: top;
    display: flex;
    justify-content: center;
    color: #3e6cf4;
    font-size: 2.2em;
    font-weight: 800;

}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    width: 20em;
    height: 12em;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    margin: 30px; 
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05); 
}

.icon {
    color: #3e6cf4;
    font-size: 3em;
    text-align: center;
}   

.info {
    text-align: center;
}

.info h3 {
    color: black;
    font-size: 0.5em;
    font-weight: bold;  
    margin: 5px;
}

.info p {
    font-size: 0.3em; 
    color: black;
}

.projects {
    background-color: black;
}

.projects .content {
    margin-top: 30px;
}

.projects-card {
    background-color: #fff;
    border: 1px solid transparent;
    width: 20em; 
    height: 15em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 1s ease;
}


.projects-card:hover {
    transform: scale(1.05);
}

.projects-card:hover .projects-image {
    opacity: 0.9;
}

.projects-image img {
    width: 100%;
}

.projects-info {
    padding: 1em;
}

.projects-category {
    font-size: 0.8em;
    color: black;
}

.projects-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: #3c2eff;
}

.more-details:hover {
    color: #00134d;
}

.content .icon {
    font-size: 3em;
}

.content .info h3 {
    color: #3e6cf4;
}

.footer {
    bottom: 0px;
    background-color: black;
    color: #fff;
    justify-content: space-between;
}

.footer-title {
    margin: 10px;
    text-align: center;
    font-size: 1.6em;
    font-weight: 600;
}

.footer-title span {
    color: white;
}

.footer .social-icons a i{
    font-size: 1.3em;
    padding: 0 12px 0 0;
}
.title1 {
    padding: 0px;
    margin: 50px 0px -100px 0px;
    text-align: center;
    top: 100px;
    align-items: top;
    display: flex;
    justify-content: center;
    color: #3e6cf4;
    font-size: 2.2em;
    font-weight: 800;
}

@media (max-width: 1023px) {
    header {
        padding: 10px 20px;
    }

    .navigation a {
        padding-left: 10px;
    }

    .title {
        font-size: 1.8em;
    }

    .section {
        padding: 80px 20px;
    }

    .main-content h2 {
        font-size: 1em;
    }

    .main-content h3 {
        font-size: 1.6em;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 641px) {
    body {
        padding-left: 12px;
    }

    .main-content h2 {
        font-size: 0.8em;
    }

    .main-content h3 {
        font-size: 1.4em;
    }
}
@media (max-width:300px) {
    body {
        padding-left:10px;
    }
}

